{% extends "profile_basic.html" %}

{% block nav %}
    <li><a href="{% url 'home' %}">Home</a></li>
    <li class="active"><a href="{% url 'profile' %}">Profile</a></li>
    <li><a href="{% url 'edit-profile' %}">Edit Profile</a></li>
    <li class="active"><a href="{% url 'follow-stream' %}">Follow Stream</a></li>
{% endblock %}

{% block content %}
    <div class="panel panel-default" id="info">
        <table class="table" >
            <div class="panel-heading">Information Profile</div>
            <tbody>
                {% for field in form.visible_fields %}
                <tr>
                    <td>{{field.label_tag}}</td>
                    <td>{{field}}</td>
                    <td>{{field.errors}}</td>
                </tr>
                {% endfor %}               
            </tbody>
        </table> 
    </div> 
    <div>
        <form action="{% url 'follow' userprofile.user.id %}" method="post">
            <button class="btn btn-default" type="submit" aligh="right"> Follow </button>
            {% csrf_token %}
        </form>
        <form action="{% url 'unfollow' userprofile.user.id %}" method="post">
            <button class="btn btn-default" type="submit" aligh="right"> UnFollow </button>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}
